:root {
  --light-bg: rgba(18, 21, 25, 1);
  --six: #00000066;
  --blue: #40128B;
  --purple: #9336B4;
  --skin: #FFE79B;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  background-color: var(--light-bg);
}

* {
  box-sizing: border-box;
}

.head-container{
  background-color: #202020;
  width: 100%;
}

/* Header*/
header {
  display: flex;
  /* justify-content: ; */
  width: 75vw;
  margin: auto;
  margin-top: 10px;
  /* background-color: black; */
}

.logo{
  background-image: url(./assets/logo.png);
  background-repeat: no-repeat;  
  width: 150px;
  background-position: center;
  background-size: contain;
}


ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav-list {
  margin: 0rem 1.2rem;
}

.nav-btn {
  font-size: 1.4rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.nav-btn:hover {
  color: #a145de;
}

/* Main */

/* Home */
.home {
  background-color: rgba(18, 21, 25, 1);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;
}

.position-absolute{
  position: absolute;
}

.top-0{
  top: 0;
}



.hero {
  margin: 5rem 1rem;
  padding: 2em;
  color: white;
  height: 90vh;
  /* background-color: black; */
  border-radius: 25px;
  background-image: url(https://around.createx.studio/assets/img/landing/intro/hero/01.png);
  background-position: center 30%;
  background-size: cover;
  overflow: visible;
}



.heading{
  font-size: calc(1.5rem + 4.5vw);
  font-weight: 300;
  text-align: center;
  margin-bottom: 1em;
  color: white;
}

.title {
  text-align: center;
  /* margin: 5vh 0vh 5vh 0vh; */
}

h1 {
  font-size: 4.5rem;
  margin: 10px auto;
}

h2 {
  margin: 10px auto;
  width: 40vw;
}
.query
{
  text-align: center;
}
#query
{
  margin: 8vh auto;
  width: 40vw;
  height: 8vh;
  border-radius: 25px;
  font-size: 1.5rem;
}
#query-search
{
  margin: 8vh auto;
  width: 13vw;
  height: 8vh;
  border-radius: 25px;
  font-size: 1.5rem;
}


.enter-text
{
  padding: 5px;
  width: 90%;
  padding: 0px;
}


#submit{
  height: 40px;
  width: 80px;
  margin: auto;
  background-color: #171717;
  border: 1px solid white;
  outline: none;
  color: #ddd;
  border-radius: 10px;
  border-radius: 15px;
}

/* faq */
.faq {
  background: var(--light-bg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}
.faq>h1
{
  color: white;
  text-align: center;
}
.drop
{
  width: 50vw;
  margin: 5rem auto;
}

details {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 25px;
  color: white;
}

summary {
  background-color: var(--light-bg);
  color: white;
  padding: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;
  list-style-type:"+ ";
  border-radius: 25px;
}

details[open] summary {
  background-color: var(--light-bg);
}

p {
  padding: 10px;
}


/*about*/
.about{
  background-color: var(--light-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.us
{
  width: 80vw;
  margin: auto;
  color: rgb(195, 195, 195);
  border: solid 2px rgb(172, 172, 172);
  border-radius: 25px;
  background-color: var(--light-bg);
  padding: 2em 3em 2em 3em;
}
.us>p
{
  font-size: 1.2rem;
}
/* contact */
.contact{
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.contact>h1
{
  color: var(--light-bg);
}
.contact-form
{
  width: 80vw;
  height: 80vh;
  margin: auto;
  color: black;
  border: solid 2px white;
  border-radius: 25px;
  background-color: white;
}

/*react css*/
.options{
  display: flex;
  gap: 20px;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}
.box{
  width: 320px;
  height: 320px;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
  transition: 300ms;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.box .title{
  color: white;
  font-weight: bolder;
  font-size: 30px;
  
}

a:link{
  text-decoration: none;
}

h1{
  color: #eaeaea;
  font-size: 40px;
}

.box .desc{
  font-size: 18px;
  font-family: bold;
  text-align: center;
  /* margin-top: 60%; */
  color: white;
}

.box:hover{
  transform: scale(105%);
}

.box img{
  width: 200px;
  aspect-ratio: 1;
  border-radius: 100px;
}

#assistance{
  background-color: rgb(232, 79, 79);
}

#document-assist{
  background-color: rgb(83, 156, 83);
}

#generator{
  background-color: rgb(168, 168, 22);
}

.assistance{
  background-repeat: no-repeat;
  background-size: 550px auto;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color: #222327;
}
.assistance>a{
  text-align: center;
  background-color: #1d1d1d;
  width: 100%;
}

.chatbox{
  margin: auto;
  height: 75vh;
  width: 100%;
  overflow: scroll;
  margin-top: 10px;
  background-image: url(https://around.createx.studio/assets/img/landing/intro/hero/01.png);
  background-position: center;
  background-size: contain;
}

#userin{
  margin: auto;
  border-radius: 25px;
  background-color: #1b0d23; 
  border: 2px solid plum;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#input{
  height: 60px;
  font-size: 20px;
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
}
.submit{
  border-radius: 25px;
  width: 100px;
  font-size: 20px;
}

.bubble2{
  background-color: #3a1d41;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.bubble1{
  backdrop-filter: invert(10%);
  color: white;
  font-size: 1rem;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.load{
  color: beige;
  background-color: rgb(93, 0, 186);
  text-align: center;
  width: 100px;
  margin: auto;
  border-radius: 10px;
}

.area{
  background-color: #17171a;
  border: 1px solid rgb(235, 174, 255);
  border-radius: 10px;
  height: 89vh;
  overflow: scroll;
  display: flex;
  flex-flow: column;
}

.guidance{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
}

.container{
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  gap: 5px;
}

#inp{
  display: none;
}

.files{
  height: 99%;
  padding: 4px;
}

.upload{
  border-radius: 0 0 15px 15px;
  background-color: rgb(31, 31, 31);
  width: 200px;
  border: 1px solid rgb(143, 143, 143);
  text-align: center;
  color: white;
  height: 30px;
}

.filename{
  background-color: #3f3f3fd0;
  color: beige;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.generator{
  background-image: url(https://around.createx.studio/assets/img/landing/intro/hero/01.png);

}

.results{
  display: flex;
  gap: 10px;
  margin: 50px 10% 0 10%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.result{
  height: 60px;
  /* width: 700px; */
  background-color: rgb(255, 233, 252);
  border: 1px solid plum;
  border-radius: 20px;
  color: #150020;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
}